.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.923000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.947000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.864000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.854000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.943000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.388000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-7.173120px;}
._3{margin-left:-4.662497px;}
._2{margin-left:-2.191772px;}
._9{margin-left:-1.036110px;}
._f{width:7.890379px;}
._d{width:9.205442px;}
._8{width:10.799458px;}
._6{width:12.377442px;}
._0{width:13.724570px;}
._4{width:15.061254px;}
._c{width:19.926800px;}
._a{width:80.025095px;}
._7{width:105.848154px;}
._5{width:116.169408px;}
._15{width:172.552232px;}
._14{width:458.439002px;}
._e{width:462.452350px;}
._13{width:520.446224px;}
._b{width:580.107538px;}
._10{width:592.962410px;}
._12{width:941.107046px;}
._11{width:1090.864850px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:39.850400px;}
.fs0{font-size:47.820800px;}
.y30{bottom:42.112000px;}
.y2f{bottom:95.007000px;}
.y2e{bottom:106.962000px;}
.y2b{bottom:108.954000px;}
.y2d{bottom:118.917000px;}
.y2a{bottom:120.910000px;}
.y2c{bottom:130.872000px;}
.y29{bottom:132.865000px;}
.y28{bottom:159.833000px;}
.y27{bottom:171.788000px;}
.y26{bottom:183.743000px;}
.y25{bottom:195.698000px;}
.y24{bottom:207.654000px;}
.y23{bottom:219.609000px;}
.y22{bottom:243.519000px;}
.y21{bottom:255.474000px;}
.y20{bottom:267.430000px;}
.y1f{bottom:279.385000px;}
.y1e{bottom:291.340000px;}
.y1d{bottom:303.295000px;}
.y1c{bottom:315.250000px;}
.y1b{bottom:327.205000px;}
.y1a{bottom:339.161000px;}
.y19{bottom:351.116000px;}
.y18{bottom:375.026000px;}
.y17{bottom:386.981000px;}
.y16{bottom:398.936000px;}
.y15{bottom:410.892000px;}
.y14{bottom:422.847000px;}
.y13{bottom:434.802000px;}
.y12{bottom:446.757000px;}
.y11{bottom:458.712000px;}
.y10{bottom:470.667000px;}
.yf{bottom:482.623000px;}
.ye{bottom:494.578000px;}
.yd{bottom:521.546000px;}
.yc{bottom:533.501000px;}
.yb{bottom:545.456000px;}
.ya{bottom:557.412000px;}
.y9{bottom:584.380000px;}
.y8{bottom:596.335000px;}
.y7{bottom:608.290000px;}
.y6{bottom:620.245000px;}
.y5{bottom:647.214000px;}
.y4{bottom:659.169000px;}
.y3{bottom:686.137000px;}
.y2{bottom:698.092000px;}
.y0{bottom:707.500000px;}
.y1{bottom:710.037000px;}
.h1{height:0.500000px;}
.h4{height:29.369745px;}
.h3{height:29.529146px;}
.h2{height:35.243930px;}
.h0{height:792.000000px;}
.w1{width:468.000000px;}
.w0{width:612.000000px;}
.x0{left:72.000000px;}
.x3{left:165.600000px;}
.x4{left:180.544000px;}
.x5{left:190.507000px;}
.x1{left:198.184000px;}
.x2{left:200.954000px;}
.x6{left:350.031000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-9.564160pt;}
._3{margin-left:-6.216662pt;}
._2{margin-left:-2.922363pt;}
._9{margin-left:-1.381481pt;}
._f{width:10.520506pt;}
._d{width:12.273923pt;}
._8{width:14.399278pt;}
._6{width:16.503257pt;}
._0{width:18.299426pt;}
._4{width:20.081673pt;}
._c{width:26.569067pt;}
._a{width:106.700127pt;}
._7{width:141.130873pt;}
._5{width:154.892544pt;}
._15{width:230.069643pt;}
._14{width:611.252002pt;}
._e{width:616.603134pt;}
._13{width:693.928299pt;}
._b{width:773.476718pt;}
._10{width:790.616547pt;}
._12{width:1254.809395pt;}
._11{width:1454.486466pt;}
.fs1{font-size:53.133867pt;}
.fs0{font-size:63.761067pt;}
.y30{bottom:56.149333pt;}
.y2f{bottom:126.676000pt;}
.y2e{bottom:142.616000pt;}
.y2b{bottom:145.272000pt;}
.y2d{bottom:158.556000pt;}
.y2a{bottom:161.213333pt;}
.y2c{bottom:174.496000pt;}
.y29{bottom:177.153333pt;}
.y28{bottom:213.110667pt;}
.y27{bottom:229.050667pt;}
.y26{bottom:244.990667pt;}
.y25{bottom:260.930667pt;}
.y24{bottom:276.872000pt;}
.y23{bottom:292.812000pt;}
.y22{bottom:324.692000pt;}
.y21{bottom:340.632000pt;}
.y20{bottom:356.573333pt;}
.y1f{bottom:372.513333pt;}
.y1e{bottom:388.453333pt;}
.y1d{bottom:404.393333pt;}
.y1c{bottom:420.333333pt;}
.y1b{bottom:436.273333pt;}
.y1a{bottom:452.214667pt;}
.y19{bottom:468.154667pt;}
.y18{bottom:500.034667pt;}
.y17{bottom:515.974667pt;}
.y16{bottom:531.914667pt;}
.y15{bottom:547.856000pt;}
.y14{bottom:563.796000pt;}
.y13{bottom:579.736000pt;}
.y12{bottom:595.676000pt;}
.y11{bottom:611.616000pt;}
.y10{bottom:627.556000pt;}
.yf{bottom:643.497333pt;}
.ye{bottom:659.437333pt;}
.yd{bottom:695.394667pt;}
.yc{bottom:711.334667pt;}
.yb{bottom:727.274667pt;}
.ya{bottom:743.216000pt;}
.y9{bottom:779.173333pt;}
.y8{bottom:795.113333pt;}
.y7{bottom:811.053333pt;}
.y6{bottom:826.993333pt;}
.y5{bottom:862.952000pt;}
.y4{bottom:878.892000pt;}
.y3{bottom:914.849333pt;}
.y2{bottom:930.789333pt;}
.y0{bottom:943.333333pt;}
.y1{bottom:946.716000pt;}
.h1{height:0.666667pt;}
.h4{height:39.159660pt;}
.h3{height:39.372195pt;}
.h2{height:46.991906pt;}
.h0{height:1056.000000pt;}
.w1{width:624.000000pt;}
.w0{width:816.000000pt;}
.x0{left:96.000000pt;}
.x3{left:220.800000pt;}
.x4{left:240.725333pt;}
.x5{left:254.009333pt;}
.x1{left:264.245333pt;}
.x2{left:267.938667pt;}
.x6{left:466.708000pt;}
}
