.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.943000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.947000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.864000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.854000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.388000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.939000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.752000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.939000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.m1{transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-ms-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-webkit-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-7.173120px;}
._3{margin-left:-4.662497px;}
._a{margin-left:-3.227882px;}
._2{margin-left:-2.191772px;}
._9{margin-left:-1.099842px;}
._f{width:7.452025px;}
._7{width:9.444545px;}
._8{width:10.480655px;}
._6{width:11.636317px;}
._0{width:13.724570px;}
._4{width:15.065254px;}
._e{width:17.334924px;}
._12{width:18.530436px;}
._5{width:19.922800px;}
._b{width:80.019603px;}
._15{width:105.852154px;}
._16{width:420.180750px;}
._10{width:446.979010px;}
._13{width:480.329310px;}
._c{width:521.704714px;}
._19{width:592.416046px;}
._1a{width:631.902834px;}
._17{width:737.830156px;}
._11{width:745.800236px;}
._14{width:753.889867px;}
._d{width:819.643027px;}
._18{width:1135.497298px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:39.850400px;}
.fs1{font-size:47.820800px;}
.y31{bottom:45.235500px;}
.y30{bottom:110.899500px;}
.y2f{bottom:148.135500px;}
.y2d{bottom:153.366000px;}
.y2e{bottom:168.309000px;}
.y2c{bottom:171.298500px;}
.y2b{bottom:208.533000px;}
.y2a{bottom:226.465500px;}
.y29{bottom:263.701500px;}
.y28{bottom:283.876500px;}
.y27{bottom:304.050000px;}
.y0{bottom:319.500000px;}
.y26{bottom:325.420500px;}
.y25{bottom:342.904500px;}
.y24{bottom:374.287500px;}
.y23{bottom:392.220000px;}
.y22{bottom:412.393500px;}
.y21{bottom:430.326000px;}
.y20{bottom:450.501000px;}
.y1f{bottom:468.433500px;}
.y1e{bottom:488.608500px;}
.y1d{bottom:506.541000px;}
.y1c{bottom:527.911500px;}
.y1b{bottom:545.395500px;}
.y1a{bottom:576.777000px;}
.y19{bottom:594.709500px;}
.y18{bottom:614.884500px;}
.y17{bottom:632.817000px;}
.y16{bottom:652.992000px;}
.y15{bottom:670.924500px;}
.y14{bottom:692.295000px;}
.y13{bottom:709.779000px;}
.y12{bottom:747.013500px;}
.y11{bottom:764.947500px;}
.y10{bottom:782.880000px;}
.yf{bottom:800.812500px;}
.ye{bottom:838.047000px;}
.yd{bottom:855.981000px;}
.yc{bottom:876.154500px;}
.yb{bottom:894.087000px;}
.ya{bottom:914.262000px;}
.y9{bottom:932.194500px;}
.y8{bottom:950.127000px;}
.y7{bottom:953.116500px;}
.y6{bottom:971.049000px;}
.y5{bottom:1008.283500px;}
.y4{bottom:1026.217500px;}
.y3{bottom:1047.123000px;}
.y1{bottom:1055.940000px;}
.y2{bottom:1056.015000px;}
.h2{height:29.369745px;}
.h4{height:29.529146px;}
.h3{height:35.243930px;}
.h1{height:724.500000px;}
.h0{height:1188.000000px;}
.w1{width:729.000000px;}
.w0{width:918.000000px;}
.x0{left:93.000000px;}
.x8{left:233.457000px;}
.x9{left:255.873000px;}
.xa{left:270.816000px;}
.x6{left:309.333000px;}
.x7{left:313.486500px;}
.xb{left:625.486500px;}
.x1{left:760.621500px;}
.x3{left:772.801500px;}
.x2{left:774.601500px;}
.x5{left:813.478500px;}
.x4{left:815.278500px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-6.376107pt;}
._3{margin-left:-4.144442pt;}
._a{margin-left:-2.869229pt;}
._2{margin-left:-1.948242pt;}
._9{margin-left:-0.977637pt;}
._f{width:6.624022pt;}
._7{width:8.395151pt;}
._8{width:9.316138pt;}
._6{width:10.343393pt;}
._0{width:12.199617pt;}
._4{width:13.391337pt;}
._e{width:15.408821pt;}
._12{width:16.471499pt;}
._5{width:17.709156pt;}
._b{width:71.128536pt;}
._15{width:94.090804pt;}
._16{width:373.494000pt;}
._10{width:397.314675pt;}
._13{width:426.959386pt;}
._c{width:463.737524pt;}
._19{width:526.592041pt;}
._1a{width:561.691408pt;}
._17{width:655.849028pt;}
._11{width:662.933543pt;}
._14{width:670.124326pt;}
._d{width:728.571580pt;}
._18{width:1009.330931pt;}
.fs0{font-size:35.422578pt;}
.fs1{font-size:42.507378pt;}
.y31{bottom:40.209333pt;}
.y30{bottom:98.577333pt;}
.y2f{bottom:131.676000pt;}
.y2d{bottom:136.325333pt;}
.y2e{bottom:149.608000pt;}
.y2c{bottom:152.265333pt;}
.y2b{bottom:185.362667pt;}
.y2a{bottom:201.302667pt;}
.y29{bottom:234.401333pt;}
.y28{bottom:252.334667pt;}
.y27{bottom:270.266667pt;}
.y0{bottom:284.000000pt;}
.y26{bottom:289.262667pt;}
.y25{bottom:304.804000pt;}
.y24{bottom:332.700000pt;}
.y23{bottom:348.640000pt;}
.y22{bottom:366.572000pt;}
.y21{bottom:382.512000pt;}
.y20{bottom:400.445333pt;}
.y1f{bottom:416.385333pt;}
.y1e{bottom:434.318667pt;}
.y1d{bottom:450.258667pt;}
.y1c{bottom:469.254667pt;}
.y1b{bottom:484.796000pt;}
.y1a{bottom:512.690667pt;}
.y19{bottom:528.630667pt;}
.y18{bottom:546.564000pt;}
.y17{bottom:562.504000pt;}
.y16{bottom:580.437333pt;}
.y15{bottom:596.377333pt;}
.y14{bottom:615.373333pt;}
.y13{bottom:630.914667pt;}
.y12{bottom:664.012000pt;}
.y11{bottom:679.953333pt;}
.y10{bottom:695.893333pt;}
.yf{bottom:711.833333pt;}
.ye{bottom:744.930667pt;}
.yd{bottom:760.872000pt;}
.yc{bottom:778.804000pt;}
.yb{bottom:794.744000pt;}
.ya{bottom:812.677333pt;}
.y9{bottom:828.617333pt;}
.y8{bottom:844.557333pt;}
.y7{bottom:847.214667pt;}
.y6{bottom:863.154667pt;}
.y5{bottom:896.252000pt;}
.y4{bottom:912.193333pt;}
.y3{bottom:930.776000pt;}
.y1{bottom:938.613333pt;}
.y2{bottom:938.680000pt;}
.h2{height:26.106440pt;}
.h4{height:26.248130pt;}
.h3{height:31.327937pt;}
.h1{height:644.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:648.000000pt;}
.w0{width:816.000000pt;}
.x0{left:82.666667pt;}
.x8{left:207.517333pt;}
.x9{left:227.442667pt;}
.xa{left:240.725333pt;}
.x6{left:274.962667pt;}
.x7{left:278.654667pt;}
.xb{left:555.988000pt;}
.x1{left:676.108000pt;}
.x3{left:686.934667pt;}
.x2{left:688.534667pt;}
.x5{left:723.092000pt;}
.x4{left:724.692000pt;}
}
