.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.943000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.947000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.864000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.854000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.388000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.939000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.752000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.939000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.m1{transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-ms-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-webkit-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-7.173120px;}
._3{margin-left:-4.662497px;}
._b{margin-left:-3.466985px;}
._2{margin-left:-2.191772px;}
._a{margin-left:-1.038730px;}
._9{width:8.009930px;}
._7{width:9.444545px;}
._8{width:10.480655px;}
._6{width:11.636317px;}
._c{width:12.712278px;}
._0{width:13.724570px;}
._4{width:15.065254px;}
._10{width:17.334924px;}
._13{width:18.530436px;}
._5{width:19.922800px;}
._d{width:80.019603px;}
._16{width:105.852154px;}
._17{width:420.180750px;}
._11{width:446.979010px;}
._14{width:480.329310px;}
._e{width:521.704714px;}
._1a{width:592.416046px;}
._1b{width:631.902834px;}
._18{width:737.830156px;}
._12{width:745.800236px;}
._15{width:753.889867px;}
._f{width:819.643027px;}
._19{width:1135.497298px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:39.850400px;}
.fs1{font-size:47.820800px;}
.y31{bottom:52.707000px;}
.y30{bottom:119.347500px;}
.y2e{bottom:124.578000px;}
.y2f{bottom:139.521000px;}
.y2d{bottom:142.510500px;}
.y2c{bottom:182.962500px;}
.y2b{bottom:200.895000px;}
.y2a{bottom:241.348500px;}
.y29{bottom:261.522000px;}
.y28{bottom:281.697000px;}
.y27{bottom:301.870500px;}
.y0{bottom:317.250000px;}
.y26{bottom:323.241000px;}
.y25{bottom:340.725000px;}
.y24{bottom:372.108000px;}
.y23{bottom:390.040500px;}
.y22{bottom:410.214000px;}
.y21{bottom:428.148000px;}
.y20{bottom:448.321500px;}
.y1f{bottom:466.254000px;}
.y1e{bottom:486.429000px;}
.y1d{bottom:504.361500px;}
.y1c{bottom:525.732000px;}
.y1b{bottom:543.216000px;}
.y1a{bottom:574.597500px;}
.y19{bottom:592.531500px;}
.y18{bottom:612.705000px;}
.y17{bottom:630.637500px;}
.y16{bottom:650.812500px;}
.y15{bottom:668.745000px;}
.y14{bottom:690.115500px;}
.y13{bottom:707.599500px;}
.y12{bottom:748.051500px;}
.y11{bottom:765.984000px;}
.y10{bottom:783.918000px;}
.yf{bottom:801.850500px;}
.ye{bottom:842.302500px;}
.yd{bottom:860.235000px;}
.yc{bottom:880.410000px;}
.yb{bottom:898.342500px;}
.ya{bottom:918.516000px;}
.y9{bottom:936.450000px;}
.y8{bottom:954.382500px;}
.y7{bottom:957.370500px;}
.y6{bottom:975.304500px;}
.y5{bottom:1015.756500px;}
.y4{bottom:1033.689000px;}
.y1{bottom:1054.446000px;}
.y2{bottom:1054.521000px;}
.y3{bottom:1054.596000px;}
.h2{height:29.369745px;}
.h4{height:29.529146px;}
.h3{height:35.243930px;}
.h1{height:734.250000px;}
.h0{height:1188.000000px;}
.w1{width:729.000000px;}
.w0{width:918.000000px;}
.x0{left:93.000000px;}
.x8{left:233.457000px;}
.x9{left:255.873000px;}
.xa{left:270.816000px;}
.x6{left:309.333000px;}
.x7{left:313.486500px;}
.xb{left:625.486500px;}
.x1{left:760.621500px;}
.x3{left:772.801500px;}
.x2{left:774.601500px;}
.x5{left:813.478500px;}
.x4{left:815.278500px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-6.376107pt;}
._3{margin-left:-4.144442pt;}
._b{margin-left:-3.081764pt;}
._2{margin-left:-1.948242pt;}
._a{margin-left:-0.923316pt;}
._9{width:7.119938pt;}
._7{width:8.395151pt;}
._8{width:9.316138pt;}
._6{width:10.343393pt;}
._c{width:11.299802pt;}
._0{width:12.199617pt;}
._4{width:13.391337pt;}
._10{width:15.408821pt;}
._13{width:16.471499pt;}
._5{width:17.709156pt;}
._d{width:71.128536pt;}
._16{width:94.090804pt;}
._17{width:373.494000pt;}
._11{width:397.314675pt;}
._14{width:426.959386pt;}
._e{width:463.737524pt;}
._1a{width:526.592041pt;}
._1b{width:561.691408pt;}
._18{width:655.849028pt;}
._12{width:662.933543pt;}
._15{width:670.124326pt;}
._f{width:728.571580pt;}
._19{width:1009.330931pt;}
.fs0{font-size:35.422578pt;}
.fs1{font-size:42.507378pt;}
.y31{bottom:46.850667pt;}
.y30{bottom:106.086667pt;}
.y2e{bottom:110.736000pt;}
.y2f{bottom:124.018667pt;}
.y2d{bottom:126.676000pt;}
.y2c{bottom:162.633333pt;}
.y2b{bottom:178.573333pt;}
.y2a{bottom:214.532000pt;}
.y29{bottom:232.464000pt;}
.y28{bottom:250.397333pt;}
.y27{bottom:268.329333pt;}
.y0{bottom:282.000000pt;}
.y26{bottom:287.325333pt;}
.y25{bottom:302.866667pt;}
.y24{bottom:330.762667pt;}
.y23{bottom:346.702667pt;}
.y22{bottom:364.634667pt;}
.y21{bottom:380.576000pt;}
.y20{bottom:398.508000pt;}
.y1f{bottom:414.448000pt;}
.y1e{bottom:432.381333pt;}
.y1d{bottom:448.321333pt;}
.y1c{bottom:467.317333pt;}
.y1b{bottom:482.858667pt;}
.y1a{bottom:510.753333pt;}
.y19{bottom:526.694667pt;}
.y18{bottom:544.626667pt;}
.y17{bottom:560.566667pt;}
.y16{bottom:578.500000pt;}
.y15{bottom:594.440000pt;}
.y14{bottom:613.436000pt;}
.y13{bottom:628.977333pt;}
.y12{bottom:664.934667pt;}
.y11{bottom:680.874667pt;}
.y10{bottom:696.816000pt;}
.yf{bottom:712.756000pt;}
.ye{bottom:748.713333pt;}
.yd{bottom:764.653333pt;}
.yc{bottom:782.586667pt;}
.yb{bottom:798.526667pt;}
.ya{bottom:816.458667pt;}
.y9{bottom:832.400000pt;}
.y8{bottom:848.340000pt;}
.y7{bottom:850.996000pt;}
.y6{bottom:866.937333pt;}
.y5{bottom:902.894667pt;}
.y4{bottom:918.834667pt;}
.y1{bottom:937.285333pt;}
.y2{bottom:937.352000pt;}
.y3{bottom:937.418667pt;}
.h2{height:26.106440pt;}
.h4{height:26.248130pt;}
.h3{height:31.327937pt;}
.h1{height:652.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:648.000000pt;}
.w0{width:816.000000pt;}
.x0{left:82.666667pt;}
.x8{left:207.517333pt;}
.x9{left:227.442667pt;}
.xa{left:240.725333pt;}
.x6{left:274.962667pt;}
.x7{left:278.654667pt;}
.xb{left:555.988000pt;}
.x1{left:676.108000pt;}
.x3{left:686.934667pt;}
.x2{left:688.534667pt;}
.x5{left:723.092000pt;}
.x4{left:724.692000pt;}
}
