.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.943000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.947000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.864000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.854000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.388000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.939000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.752000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.939000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.m1{transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-ms-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-webkit-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._b{margin-left:-5.600474px;}
._3{margin-left:-3.985488px;}
._4{margin-left:-2.948930px;}
._1{margin-left:-1.490497px;}
._c{width:1.394764px;}
._11{width:8.049781px;}
._7{width:9.444545px;}
._8{width:10.480655px;}
._6{width:11.636317px;}
._0{width:13.724570px;}
._2{width:15.060216px;}
._d{width:16.819269px;}
._9{width:18.171782px;}
._5{width:19.922800px;}
._a{width:26.657765px;}
._e{width:80.019603px;}
._16{width:106.609312px;}
._12{width:357.298686px;}
._17{width:420.180750px;}
._14{width:466.781310px;}
._1a{width:592.416046px;}
._1b{width:626.362834px;}
._10{width:664.624971px;}
._18{width:726.751745px;}
._13{width:745.800236px;}
._15{width:753.889867px;}
._f{width:925.366138px;}
._19{width:1135.497298px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:39.850400px;}
.fs1{font-size:47.820800px;}
.y2f{bottom:45.235500px;}
.y2e{bottom:147.213000px;}
.y2d{bottom:167.388000px;}
.y2c{bottom:187.561500px;}
.y0{bottom:202.500000px;}
.y2b{bottom:208.932000px;}
.y2a{bottom:226.416000px;}
.y29{bottom:257.799000px;}
.y28{bottom:275.731500px;}
.y27{bottom:295.906500px;}
.y26{bottom:313.839000px;}
.y25{bottom:334.012500px;}
.y24{bottom:351.945000px;}
.y23{bottom:372.120000px;}
.y22{bottom:390.052500px;}
.y21{bottom:411.423000px;}
.y20{bottom:428.907000px;}
.y1f{bottom:460.290000px;}
.y1e{bottom:478.222500px;}
.y1d{bottom:498.396000px;}
.y1c{bottom:516.330000px;}
.y1b{bottom:534.262500px;}
.y1a{bottom:554.436000px;}
.y19{bottom:572.368500px;}
.y18{bottom:592.543500px;}
.y17{bottom:612.718500px;}
.y16{bottom:632.892000px;}
.y15{bottom:654.426000px;}
.y14{bottom:672.358500px;}
.y13{bottom:689.470500px;}
.y12{bottom:726.705000px;}
.y11{bottom:744.637500px;}
.y10{bottom:762.570000px;}
.yf{bottom:780.504000px;}
.ye{bottom:798.436500px;}
.yd{bottom:835.671000px;}
.yc{bottom:853.605000px;}
.yb{bottom:873.778500px;}
.y36{bottom:889.912500px;}
.ya{bottom:891.711000px;}
.y9{bottom:911.886000px;}
.y35{bottom:927.148500px;}
.y8{bottom:929.818500px;}
.y33{bottom:932.379000px;}
.y34{bottom:947.322000px;}
.y7{bottom:947.751000px;}
.y32{bottom:950.311500px;}
.y6{bottom:950.740500px;}
.y5{bottom:968.673000px;}
.y31{bottom:987.546000px;}
.y30{bottom:1005.480000px;}
.y4{bottom:1023.841500px;}
.y3{bottom:1047.123000px;}
.y1{bottom:1048.020000px;}
.y2{bottom:1048.095000px;}
.h2{height:29.369745px;}
.h4{height:29.529146px;}
.h3{height:35.243930px;}
.h1{height:841.500000px;}
.h0{height:1188.000000px;}
.w1{width:729.000000px;}
.w0{width:918.000000px;}
.x0{left:93.000000px;}
.x6{left:203.710500px;}
.x7{left:233.457000px;}
.x8{left:255.873000px;}
.x9{left:270.816000px;}
.xa{left:573.228000px;}
.xb{left:586.872000px;}
.x1{left:760.621500px;}
.x3{left:772.801500px;}
.x2{left:774.601500px;}
.x5{left:813.478500px;}
.x4{left:815.278500px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._b{margin-left:-4.978199pt;}
._3{margin-left:-3.542656pt;}
._4{margin-left:-2.621271pt;}
._1{margin-left:-1.324886pt;}
._c{width:1.239790pt;}
._11{width:7.155361pt;}
._7{width:8.395151pt;}
._8{width:9.316138pt;}
._6{width:10.343393pt;}
._0{width:12.199617pt;}
._2{width:13.386859pt;}
._d{width:14.950461pt;}
._9{width:16.152695pt;}
._5{width:17.709156pt;}
._a{width:23.695791pt;}
._e{width:71.128536pt;}
._16{width:94.763833pt;}
._12{width:317.598832pt;}
._17{width:373.494000pt;}
._14{width:414.916720pt;}
._1a{width:526.592041pt;}
._1b{width:556.766963pt;}
._10{width:590.777752pt;}
._18{width:646.001551pt;}
._13{width:662.933543pt;}
._15{width:670.124326pt;}
._f{width:822.547679pt;}
._19{width:1009.330931pt;}
.fs0{font-size:35.422578pt;}
.fs1{font-size:42.507378pt;}
.y2f{bottom:40.209333pt;}
.y2e{bottom:130.856000pt;}
.y2d{bottom:148.789333pt;}
.y2c{bottom:166.721333pt;}
.y0{bottom:180.000000pt;}
.y2b{bottom:185.717333pt;}
.y2a{bottom:201.258667pt;}
.y29{bottom:229.154667pt;}
.y28{bottom:245.094667pt;}
.y27{bottom:263.028000pt;}
.y26{bottom:278.968000pt;}
.y25{bottom:296.900000pt;}
.y24{bottom:312.840000pt;}
.y23{bottom:330.773333pt;}
.y22{bottom:346.713333pt;}
.y21{bottom:365.709333pt;}
.y20{bottom:381.250667pt;}
.y1f{bottom:409.146667pt;}
.y1e{bottom:425.086667pt;}
.y1d{bottom:443.018667pt;}
.y1c{bottom:458.960000pt;}
.y1b{bottom:474.900000pt;}
.y1a{bottom:492.832000pt;}
.y19{bottom:508.772000pt;}
.y18{bottom:526.705333pt;}
.y17{bottom:544.638667pt;}
.y16{bottom:562.570667pt;}
.y15{bottom:581.712000pt;}
.y14{bottom:597.652000pt;}
.y13{bottom:612.862667pt;}
.y12{bottom:645.960000pt;}
.y11{bottom:661.900000pt;}
.y10{bottom:677.840000pt;}
.yf{bottom:693.781333pt;}
.ye{bottom:709.721333pt;}
.yd{bottom:742.818667pt;}
.yc{bottom:758.760000pt;}
.yb{bottom:776.692000pt;}
.y36{bottom:791.033333pt;}
.ya{bottom:792.632000pt;}
.y9{bottom:810.565333pt;}
.y35{bottom:824.132000pt;}
.y8{bottom:826.505333pt;}
.y33{bottom:828.781333pt;}
.y34{bottom:842.064000pt;}
.y7{bottom:842.445333pt;}
.y32{bottom:844.721333pt;}
.y6{bottom:845.102667pt;}
.y5{bottom:861.042667pt;}
.y31{bottom:877.818667pt;}
.y30{bottom:893.760000pt;}
.y4{bottom:910.081333pt;}
.y3{bottom:930.776000pt;}
.y1{bottom:931.573333pt;}
.y2{bottom:931.640000pt;}
.h2{height:26.106440pt;}
.h4{height:26.248130pt;}
.h3{height:31.327937pt;}
.h1{height:748.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:648.000000pt;}
.w0{width:816.000000pt;}
.x0{left:82.666667pt;}
.x6{left:181.076000pt;}
.x7{left:207.517333pt;}
.x8{left:227.442667pt;}
.x9{left:240.725333pt;}
.xa{left:509.536000pt;}
.xb{left:521.664000pt;}
.x1{left:676.108000pt;}
.x3{left:686.934667pt;}
.x2{left:688.534667pt;}
.x5{left:723.092000pt;}
.x4{left:724.692000pt;}
}
