.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.943000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.947000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.864000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.854000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.388000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.939000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.752000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.939000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.m1{transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-ms-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-webkit-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._b{margin-left:-5.600474px;}
._3{margin-left:-3.985488px;}
._4{margin-left:-2.948930px;}
._1{margin-left:-1.490497px;}
._c{width:1.394764px;}
._13{width:8.049781px;}
._7{width:9.444545px;}
._8{width:10.480655px;}
._6{width:11.636317px;}
._0{width:13.724570px;}
._2{width:15.060216px;}
._d{width:16.819269px;}
._9{width:18.171782px;}
._5{width:19.922800px;}
._a{width:26.657765px;}
._e{width:80.019603px;}
._18{width:106.609312px;}
._14{width:357.298686px;}
._19{width:420.180750px;}
._16{width:466.781310px;}
._f{width:521.004130px;}
._1c{width:592.416046px;}
._1d{width:626.362834px;}
._12{width:664.624971px;}
._10{width:691.922495px;}
._1a{width:726.751745px;}
._15{width:745.800236px;}
._17{width:753.889867px;}
._11{width:925.366138px;}
._1b{width:1135.497298px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:39.850400px;}
.fs1{font-size:47.820800px;}
.y31{bottom:45.235500px;}
.y0{bottom:104.250000px;}
.y30{bottom:110.302500px;}
.y2f{bottom:127.786500px;}
.y2e{bottom:159.168000px;}
.y2d{bottom:177.102000px;}
.y2c{bottom:197.275500px;}
.y2b{bottom:215.208000px;}
.y2a{bottom:233.140500px;}
.y29{bottom:253.315500px;}
.y28{bottom:271.248000px;}
.y27{bottom:291.423000px;}
.y26{bottom:311.596500px;}
.y25{bottom:331.771500px;}
.y24{bottom:353.305500px;}
.y23{bottom:371.238000px;}
.y22{bottom:388.348500px;}
.y21{bottom:419.731500px;}
.y20{bottom:437.664000px;}
.y1f{bottom:457.839000px;}
.y1e{bottom:475.771500px;}
.y1d{bottom:495.945000px;}
.y1c{bottom:513.879000px;}
.y1b{bottom:534.052500px;}
.y1a{bottom:554.227500px;}
.y19{bottom:574.401000px;}
.y18{bottom:594.576000px;}
.y17{bottom:612.508500px;}
.y16{bottom:632.683500px;}
.y15{bottom:650.616000px;}
.y14{bottom:671.985000px;}
.y13{bottom:689.470500px;}
.y12{bottom:726.705000px;}
.y11{bottom:744.637500px;}
.y10{bottom:762.570000px;}
.yf{bottom:780.504000px;}
.ye{bottom:798.436500px;}
.y3e{bottom:804.283500px;}
.y3d{bottom:824.458500px;}
.yd{bottom:835.671000px;}
.y3c{bottom:844.632000px;}
.yc{bottom:853.605000px;}
.y32{bottom:859.500000px;}
.y3b{bottom:866.002500px;}
.yb{bottom:873.778500px;}
.y3a{bottom:883.486500px;}
.y45{bottom:889.912500px;}
.ya{bottom:891.711000px;}
.y9{bottom:911.886000px;}
.y39{bottom:914.869500px;}
.y44{bottom:927.148500px;}
.y8{bottom:929.818500px;}
.y42{bottom:932.379000px;}
.y38{bottom:932.802000px;}
.y43{bottom:947.322000px;}
.y7{bottom:947.751000px;}
.y41{bottom:950.311500px;}
.y6{bottom:950.740500px;}
.y37{bottom:952.977000px;}
.y5{bottom:968.673000px;}
.y36{bottom:970.909500px;}
.y40{bottom:987.546000px;}
.y35{bottom:991.083000px;}
.y3f{bottom:1005.480000px;}
.y34{bottom:1009.015500px;}
.y4{bottom:1023.841500px;}
.y33{bottom:1029.190500px;}
.y3{bottom:1047.123000px;}
.y1{bottom:1048.020000px;}
.y2{bottom:1048.095000px;}
.h5{height:0.750000px;}
.h2{height:29.369745px;}
.h4{height:29.529146px;}
.h3{height:35.243930px;}
.h1{height:939.750000px;}
.h0{height:1188.000000px;}
.w2{width:588.750000px;}
.w1{width:729.000000px;}
.w0{width:918.000000px;}
.x0{left:93.000000px;}
.x6{left:203.710500px;}
.x7{left:233.457000px;}
.x8{left:255.873000px;}
.x9{left:270.816000px;}
.xa{left:573.228000px;}
.xb{left:625.980000px;}
.x1{left:760.621500px;}
.x3{left:772.801500px;}
.x2{left:774.601500px;}
.x5{left:813.478500px;}
.x4{left:815.278500px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._b{margin-left:-4.978199pt;}
._3{margin-left:-3.542656pt;}
._4{margin-left:-2.621271pt;}
._1{margin-left:-1.324886pt;}
._c{width:1.239790pt;}
._13{width:7.155361pt;}
._7{width:8.395151pt;}
._8{width:9.316138pt;}
._6{width:10.343393pt;}
._0{width:12.199617pt;}
._2{width:13.386859pt;}
._d{width:14.950461pt;}
._9{width:16.152695pt;}
._5{width:17.709156pt;}
._a{width:23.695791pt;}
._e{width:71.128536pt;}
._18{width:94.763833pt;}
._14{width:317.598832pt;}
._19{width:373.494000pt;}
._16{width:414.916720pt;}
._f{width:463.114782pt;}
._1c{width:526.592041pt;}
._1d{width:556.766963pt;}
._12{width:590.777752pt;}
._10{width:615.042218pt;}
._1a{width:646.001551pt;}
._15{width:662.933543pt;}
._17{width:670.124326pt;}
._11{width:822.547679pt;}
._1b{width:1009.330931pt;}
.fs0{font-size:35.422578pt;}
.fs1{font-size:42.507378pt;}
.y31{bottom:40.209333pt;}
.y0{bottom:92.666667pt;}
.y30{bottom:98.046667pt;}
.y2f{bottom:113.588000pt;}
.y2e{bottom:141.482667pt;}
.y2d{bottom:157.424000pt;}
.y2c{bottom:175.356000pt;}
.y2b{bottom:191.296000pt;}
.y2a{bottom:207.236000pt;}
.y29{bottom:225.169333pt;}
.y28{bottom:241.109333pt;}
.y27{bottom:259.042667pt;}
.y26{bottom:276.974667pt;}
.y25{bottom:294.908000pt;}
.y24{bottom:314.049333pt;}
.y23{bottom:329.989333pt;}
.y22{bottom:345.198667pt;}
.y21{bottom:373.094667pt;}
.y20{bottom:389.034667pt;}
.y1f{bottom:406.968000pt;}
.y1e{bottom:422.908000pt;}
.y1d{bottom:440.840000pt;}
.y1c{bottom:456.781333pt;}
.y1b{bottom:474.713333pt;}
.y1a{bottom:492.646667pt;}
.y19{bottom:510.578667pt;}
.y18{bottom:528.512000pt;}
.y17{bottom:544.452000pt;}
.y16{bottom:562.385333pt;}
.y15{bottom:578.325333pt;}
.y14{bottom:597.320000pt;}
.y13{bottom:612.862667pt;}
.y12{bottom:645.960000pt;}
.y11{bottom:661.900000pt;}
.y10{bottom:677.840000pt;}
.yf{bottom:693.781333pt;}
.ye{bottom:709.721333pt;}
.y3e{bottom:714.918667pt;}
.y3d{bottom:732.852000pt;}
.yd{bottom:742.818667pt;}
.y3c{bottom:750.784000pt;}
.yc{bottom:758.760000pt;}
.y32{bottom:764.000000pt;}
.y3b{bottom:769.780000pt;}
.yb{bottom:776.692000pt;}
.y3a{bottom:785.321333pt;}
.y45{bottom:791.033333pt;}
.ya{bottom:792.632000pt;}
.y9{bottom:810.565333pt;}
.y39{bottom:813.217333pt;}
.y44{bottom:824.132000pt;}
.y8{bottom:826.505333pt;}
.y42{bottom:828.781333pt;}
.y38{bottom:829.157333pt;}
.y43{bottom:842.064000pt;}
.y7{bottom:842.445333pt;}
.y41{bottom:844.721333pt;}
.y6{bottom:845.102667pt;}
.y37{bottom:847.090667pt;}
.y5{bottom:861.042667pt;}
.y36{bottom:863.030667pt;}
.y40{bottom:877.818667pt;}
.y35{bottom:880.962667pt;}
.y3f{bottom:893.760000pt;}
.y34{bottom:896.902667pt;}
.y4{bottom:910.081333pt;}
.y33{bottom:914.836000pt;}
.y3{bottom:930.776000pt;}
.y1{bottom:931.573333pt;}
.y2{bottom:931.640000pt;}
.h5{height:0.666667pt;}
.h2{height:26.106440pt;}
.h4{height:26.248130pt;}
.h3{height:31.327937pt;}
.h1{height:835.333333pt;}
.h0{height:1056.000000pt;}
.w2{width:523.333333pt;}
.w1{width:648.000000pt;}
.w0{width:816.000000pt;}
.x0{left:82.666667pt;}
.x6{left:181.076000pt;}
.x7{left:207.517333pt;}
.x8{left:227.442667pt;}
.x9{left:240.725333pt;}
.xa{left:509.536000pt;}
.xb{left:556.426667pt;}
.x1{left:676.108000pt;}
.x3{left:686.934667pt;}
.x2{left:688.534667pt;}
.x5{left:723.092000pt;}
.x4{left:724.692000pt;}
}
