.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.943000;font-style:normal;font-weight:normal;visibility:visible;}
.ff2{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.947000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.864000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.854000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.939000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.752000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.939000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.m1{transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-ms-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);-webkit-transform:matrix(1.500000,0.000000,0.000000,1.500000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{margin-left:-5.459505px;}
._2{margin-left:-3.985358px;}
._3{margin-left:-2.948930px;}
._6{margin-left:-1.394764px;}
._10{width:7.693670px;}
._a{width:8.727238px;}
._c{width:10.487224px;}
._b{width:12.386906px;}
._0{width:13.724570px;}
._1{width:15.060086px;}
._8{width:16.737168px;}
._7{width:18.572829px;}
._4{width:19.922658px;}
._5{width:24.491964px;}
._d{width:80.019603px;}
._17{width:106.609312px;}
._13{width:357.292118px;}
._18{width:420.167613px;}
._15{width:466.024152px;}
._e{width:520.246972px;}
._1b{width:592.418589px;}
._1c{width:626.362834px;}
._12{width:664.624971px;}
._f{width:673.471760px;}
._19{width:726.751745px;}
._14{width:745.800236px;}
._16{width:753.889867px;}
._11{width:890.656440px;}
._1a{width:1135.490729px;}
.fc2{color:transparent;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:39.850400px;}
.fs1{font-size:47.820800px;}
.y0{bottom:-0.750000px;}
.y30{bottom:45.235500px;}
.y2f{bottom:155.970000px;}
.y2e{bottom:173.902500px;}
.y2d{bottom:191.836500px;}
.y2c{bottom:212.010000px;}
.y2b{bottom:229.942500px;}
.y2a{bottom:250.117500px;}
.y29{bottom:268.050000px;}
.y28{bottom:285.982500px;}
.y27{bottom:306.157500px;}
.y26{bottom:324.090000px;}
.y53{bottom:328.977000px;}
.y25{bottom:344.265000px;}
.y24{bottom:362.197500px;}
.y52{bottom:366.211500px;}
.y50{bottom:371.442000px;}
.y23{bottom:382.371000px;}
.y51{bottom:386.386500px;}
.y4f{bottom:389.374500px;}
.y22{bottom:400.305000px;}
.y21{bottom:421.674000px;}
.y4e{bottom:426.610500px;}
.y20{bottom:439.158000px;}
.y4d{bottom:444.543000px;}
.y1f{bottom:457.090500px;}
.y1e{bottom:475.024500px;}
.y4c{bottom:481.779000px;}
.y4b{bottom:501.952500px;}
.y1d{bottom:512.259000px;}
.y4a{bottom:522.127500px;}
.y1c{bottom:530.191500px;}
.y49{bottom:543.496500px;}
.y1b{bottom:548.125500px;}
.y48{bottom:560.982000px;}
.y1a{bottom:566.058000px;}
.y19{bottom:583.990500px;}
.y47{bottom:592.363500px;}
.y18{bottom:601.923000px;}
.y46{bottom:610.296000px;}
.y17{bottom:619.855500px;}
.y45{bottom:630.471000px;}
.y16{bottom:637.788000px;}
.y44{bottom:648.403500px;}
.y15{bottom:655.722000px;}
.y43{bottom:668.578500px;}
.y14{bottom:673.654500px;}
.y42{bottom:686.511000px;}
.y13{bottom:691.587000px;}
.y41{bottom:706.684500px;}
.y12{bottom:709.519500px;}
.y40{bottom:724.617000px;}
.y11{bottom:727.452000px;}
.y3f{bottom:745.987500px;}
.y3e{bottom:763.471500px;}
.y10{bottom:764.688000px;}
.yf{bottom:782.620500px;}
.y3d{bottom:794.854500px;}
.ye{bottom:802.795500px;}
.y3c{bottom:812.787000px;}
.yd{bottom:820.728000px;}
.y3b{bottom:832.962000px;}
.yc{bottom:840.901500px;}
.y3a{bottom:850.894500px;}
.yb{bottom:858.834000px;}
.y39{bottom:871.068000px;}
.ya{bottom:876.768000px;}
.y38{bottom:889.002000px;}
.y9{bottom:894.700500px;}
.y37{bottom:909.175500px;}
.y8{bottom:914.874000px;}
.y36{bottom:927.108000px;}
.y7{bottom:932.808000px;}
.y35{bottom:947.283000px;}
.y6{bottom:950.740500px;}
.y34{bottom:965.215500px;}
.y5{bottom:968.673000px;}
.y33{bottom:986.749500px;}
.y32{bottom:1004.682000px;}
.y31{bottom:1021.792500px;}
.y4{bottom:1023.841500px;}
.y3{bottom:1047.123000px;}
.y1{bottom:1067.446500px;}
.y2{bottom:1067.521500px;}
.h2{height:29.369745px;}
.h5{height:29.529146px;}
.h3{height:35.243930px;}
.h4{height:37.857880px;}
.h0{height:1188.000000px;}
.h1{height:1188.750000px;}
.w0{width:918.000000px;}
.w1{width:918.750000px;}
.x0{left:0.000000px;}
.x6{left:93.055500px;}
.x7{left:158.445000px;}
.x8{left:174.555000px;}
.x9{left:233.457000px;}
.xa{left:254.289000px;}
.xb{left:270.816000px;}
.xd{left:573.228000px;}
.xc{left:595.180500px;}
.x1{left:760.621500px;}
.x3{left:772.801500px;}
.x2{left:774.601500px;}
.x5{left:813.478500px;}
.x4{left:815.278500px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{margin-left:-4.852893pt;}
._2{margin-left:-3.542540pt;}
._3{margin-left:-2.621271pt;}
._6{margin-left:-1.239790pt;}
._10{width:6.838817pt;}
._a{width:7.757545pt;}
._c{width:9.321977pt;}
._b{width:11.010583pt;}
._0{width:12.199617pt;}
._1{width:13.386743pt;}
._8{width:14.877483pt;}
._7{width:16.509181pt;}
._4{width:17.709029pt;}
._5{width:21.770635pt;}
._d{width:71.128536pt;}
._17{width:94.763833pt;}
._13{width:317.592993pt;}
._18{width:373.482322pt;}
._15{width:414.243691pt;}
._e{width:462.441753pt;}
._1b{width:526.594301pt;}
._1c{width:556.766963pt;}
._12{width:590.777752pt;}
._f{width:598.641564pt;}
._19{width:646.001551pt;}
._14{width:662.933543pt;}
._16{width:670.124326pt;}
._11{width:791.694613pt;}
._1a{width:1009.325092pt;}
.fs0{font-size:35.422578pt;}
.fs1{font-size:42.507378pt;}
.y0{bottom:-0.666667pt;}
.y30{bottom:40.209333pt;}
.y2f{bottom:138.640000pt;}
.y2e{bottom:154.580000pt;}
.y2d{bottom:170.521333pt;}
.y2c{bottom:188.453333pt;}
.y2b{bottom:204.393333pt;}
.y2a{bottom:222.326667pt;}
.y29{bottom:238.266667pt;}
.y28{bottom:254.206667pt;}
.y27{bottom:272.140000pt;}
.y26{bottom:288.080000pt;}
.y53{bottom:292.424000pt;}
.y25{bottom:306.013333pt;}
.y24{bottom:321.953333pt;}
.y52{bottom:325.521333pt;}
.y50{bottom:330.170667pt;}
.y23{bottom:339.885333pt;}
.y51{bottom:343.454667pt;}
.y4f{bottom:346.110667pt;}
.y22{bottom:355.826667pt;}
.y21{bottom:374.821333pt;}
.y4e{bottom:379.209333pt;}
.y20{bottom:390.362667pt;}
.y4d{bottom:395.149333pt;}
.y1f{bottom:406.302667pt;}
.y1e{bottom:422.244000pt;}
.y4c{bottom:428.248000pt;}
.y4b{bottom:446.180000pt;}
.y1d{bottom:455.341333pt;}
.y4a{bottom:464.113333pt;}
.y1c{bottom:471.281333pt;}
.y49{bottom:483.108000pt;}
.y1b{bottom:487.222667pt;}
.y48{bottom:498.650667pt;}
.y1a{bottom:503.162667pt;}
.y19{bottom:519.102667pt;}
.y47{bottom:526.545333pt;}
.y18{bottom:535.042667pt;}
.y46{bottom:542.485333pt;}
.y17{bottom:550.982667pt;}
.y45{bottom:560.418667pt;}
.y16{bottom:566.922667pt;}
.y44{bottom:576.358667pt;}
.y15{bottom:582.864000pt;}
.y43{bottom:594.292000pt;}
.y14{bottom:598.804000pt;}
.y42{bottom:610.232000pt;}
.y13{bottom:614.744000pt;}
.y41{bottom:628.164000pt;}
.y12{bottom:630.684000pt;}
.y40{bottom:644.104000pt;}
.y11{bottom:646.624000pt;}
.y3f{bottom:663.100000pt;}
.y3e{bottom:678.641333pt;}
.y10{bottom:679.722667pt;}
.yf{bottom:695.662667pt;}
.y3d{bottom:706.537333pt;}
.ye{bottom:713.596000pt;}
.y3c{bottom:722.477333pt;}
.yd{bottom:729.536000pt;}
.y3b{bottom:740.410667pt;}
.yc{bottom:747.468000pt;}
.y3a{bottom:756.350667pt;}
.yb{bottom:763.408000pt;}
.y39{bottom:774.282667pt;}
.ya{bottom:779.349333pt;}
.y38{bottom:790.224000pt;}
.y9{bottom:795.289333pt;}
.y37{bottom:808.156000pt;}
.y8{bottom:813.221333pt;}
.y36{bottom:824.096000pt;}
.y7{bottom:829.162667pt;}
.y35{bottom:842.029333pt;}
.y6{bottom:845.102667pt;}
.y34{bottom:857.969333pt;}
.y5{bottom:861.042667pt;}
.y33{bottom:877.110667pt;}
.y32{bottom:893.050667pt;}
.y31{bottom:908.260000pt;}
.y4{bottom:910.081333pt;}
.y3{bottom:930.776000pt;}
.y1{bottom:948.841333pt;}
.y2{bottom:948.908000pt;}
.h2{height:26.106440pt;}
.h5{height:26.248130pt;}
.h3{height:31.327937pt;}
.h4{height:33.651449pt;}
.h0{height:1056.000000pt;}
.h1{height:1056.666667pt;}
.w0{width:816.000000pt;}
.w1{width:816.666667pt;}
.x0{left:0.000000pt;}
.x6{left:82.716000pt;}
.x7{left:140.840000pt;}
.x8{left:155.160000pt;}
.x9{left:207.517333pt;}
.xa{left:226.034667pt;}
.xb{left:240.725333pt;}
.xd{left:509.536000pt;}
.xc{left:529.049333pt;}
.x1{left:676.108000pt;}
.x3{left:686.934667pt;}
.x2{left:688.534667pt;}
.x5{left:723.092000pt;}
.x4{left:724.692000pt;}
}
